body {
    font-family: Arial, sans-serif; /*Define a família de fontes padrão*/
    background-color: #f2f2f2; 
  }
  
  .container {
    max-width: 600px; /*Define a largura máxima do container*/
    margin: 50px auto; /*Centraliza o container na página*/
    padding: 20px; /*Adiciona espaço interno ao container*/
    background-color: #ff0000; 
    border-radius: 8px; /*Adiciona bordas arredondadas ao container*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*Adiciona uma sombra ao container*/
  }
  
  h1, h2 {
    text-align: center; /*Centraliza o texto*/
    color: #ffffff; 
  }
  
  .editor {
    margin-bottom: 20px; /*Adiciona espaço abaixo do formulário*/
  }
  
  .form-group {
    margin-bottom: 15px; 
  }
  
  .card {
    position: relative; /* Definir posição relativa */
    padding: 20px; /*Adiciona espaço interno ao cartão */
    margin-bottom: 20px; /*Adiciona espaço abaixo do cartão*/
    border-radius: 8px; /*Adiciona bordas arredondadas ao cartão*/
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do cartão */
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(1, 0, 0, 3); /*Adiciona uma sombra ao container*/
  }
  #cardImage {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do cartão */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  #messageText {
    font-size: 18px; 
    position: absolute; /* Definir posição absoluta */
    top: 50%; /* Posicionar o texto no meio verticalmente */
    left: 50%; /* Posicionar o texto no meio horizontalmente */
    transform: translate(-50%, -50%); /* Centralizar o texto */
    text-align: center; /* Alinhar o texto ao centro */
    z-index: 1; /* Garantir que o texto fique sobreposto à imagem */
  }